configstore
htop
oni
yarn
Autodesk
.mono
Amazon/AWSWorkDocsDriveClient
coc
karabiner/automatic_backups
lnav
nvim/notes/doc/tags
.DS_Store
iterm2/AppSupport
tmux/plugins
asdf
docker
fzf
gnupg
*.zwc
RevoStudio
wireshark
bpytop/error.log
